<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <title style="font-family: arial;">Tool Share - Welcome</title>
  </head>
  <body style="margin: 0; background-color: #d3d3d3; border: 7px solid #d3d3d3;color: #000000;font-family: arial;">
    <div style="background-color:#d3d3d3; width: 100%; height:max-content;">
      <div style="width: 100%; height: 78px; background-color: #f8f9fa;font-family: arial;">
        <a href="https://sharetools.tk" target="_blank" style="text-decoration: none;line-height: 78px;">
          <img src='https://i.imgur.com/J5Rhl45.png' alt="icon" style="height: 58px;margin:10px 10px 10px 15px">
          <span style="font-size:2.2em;display: inline;color: #cc5500;vertical-align: text-bottom;">ToolShare</span>
        </a>
      </div>
      <div style="padding: 20px 10px 30px 10px; background-color: #ffffff;">
        <div style="font-weight: bold;font-size: 1.3em;margin-top: 5px;margin-bottom: 20px;">Welcome to Tool Share, {firstname}!</div>
        <p>
          Your email address has been confirmed, and your account has been created. You can go ahead and add
          any tools that you like to your personal toolbox.<br>
          In order to find tools to borrow though, you must first join a neighborhood. It's also super easy to create
          a new neighborhood and share the link with your friends.
        </p>
        <p>
          We hope you enjoy this app and that it helps you save money, reduce
          consumption, and reduce waste.
        </p>
        <br>
        Thanks, and welcome aboard!
      </div>
      <div style="padding: 8px; width: 100%;">
         <div style="font-size: 10px; color: #808080; text-align: center; width: 100%;">
           #dontbeafoolborrowatool<br>
           Copyright 2021 / ToolShare / All Rights Reserved
         </div>
       </div>
    </div>
  </body>
</html>
