{% extends "layout.html" %}

{% block moreHead %}
    <link href="/static/nighttoggle.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Manage Account
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}

{% block main %}
<div class="scrolling_page" id="scrollme">
    <div class="smalltopspace" id="mainstart"></div>
    <div class="smalltopspace"></div>
    <h3>Manage Your Account</h3>
    <div class="smalltopspace"></div>
    <div style="text-align: left; width: max-content; margin: auto;">
        <h5>Name: {{ firstname }}</h5>
        Username: {{ username }}
        <span class="text-muted small">(cannot change)</span><br>
        Email: {{ email }}<br>
        <div style="margin-top: 10px;">App Theme:</div>
        <span class="nighttoggle" id="switch">
          <input type="checkbox" class="checkbox" id="chk" {% if session.theme == "dark" %}checked{% endif %}/>
          <label class="label" for="chk">
              <i class="fas fa-sun"></i>
              <i class="fas fa-moon"></i>
              <div class="ball"></div>
          </label>
        </span>
    </div>
    <hr>
    <form action="/manageaccount" method="post">
        <div class="row">
            <div class="col-md-6">
                <h5>User Details</h5>
                    <button class="btn btn-info" id="changeName" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerCogModal">Change Name</button><br><br>
                    <button class="btn btn-info" id="changePassword" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerCogModal">Change Password</button><br><br>
                    <button class="btn btn-info" id="updateEmail" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerCogModal">Update Email</button><br><br><br>
            </div>
            <div class="col-md-6">
                <h5>Account Settings</h5>
                    <button class="btn btn-secondary" id="commPrefs" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerModal">Communication Preferences</button><br><br>
                    <button class="btn btn-secondary" id="viewHistory" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerModal">View History</button><br><br>
                    <button class="btn btn-danger" id="deleteAccount" type="submit" style="width: 260px" data-toggle="modal" data-target="#spinnerModal">Delete Account</button><br><br>
            </div>
        </div>
        <hr>
        <br>
        <button class="btn btn-primary" id="done" type="submit" style="width: 190px">Done</button>
        <div class="smalltopspace"></div>
        <div class="smalltopspace"></div>
        <div class="smalltopspace"></div>
        <a href="/ContactUs">Feedback or Contact Us</a><br>
        <a href="/TermsAndConditions" target="_blank" rel="noopener noreferrer">Terms and Conditions</a><br>
        <a href="/PrivacyPolicy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <input id="hiddenInfoBox" style="display: none;" name="returnedAction" value=""></input>
        <div class="smalltopspace"></div>
    </form>
    <div class="deadspace"></div>
</div>

    <script>

      document.getElementById('scrollme').scrollBy(0, {{ scrollPos }});

        var hiddenInfoBox = document.getElementById("hiddenInfoBox");

        var changeName = document.getElementById("changeName");
        var changePassword = document.getElementById("changePassword");
        var updateEmail = document.getElementById("updateEmail");
        var commPrefs = document.getElementById("commPrefs");
        var viewHistory = document.getElementById("viewHistory");
        var deleteAccount = document.getElementById("deleteAccount");
        var done = document.getElementById("done");

        changeName.onclick = function(){
            hiddenInfoBox.value = "changeName";
        };

        changePassword.onclick = function(){
            hiddenInfoBox.value = "changePassword";
        };

        updateEmail.onclick = function(){
            hiddenInfoBox.value = "updateEmail";
        };

        commPrefs.onclick = function(){
            hiddenInfoBox.value = "commPrefs";
        };

        viewHistory.onclick = function(){
            hiddenInfoBox.value = "viewHistory";
        };

        deleteAccount.onclick = function(){
            hiddenInfoBox.value = "deleteAccount";
        };

        done.onclick = function(){
            hiddenInfoBox.value = "returnHome";
        };

        const chk = document.getElementById('chk');


        chk.addEventListener('change', () => {
          var rect = document.getElementById('mainstart').getBoundingClientRect();
          pagepos = -1 * (rect.top - 56);

        	document.body.classList.toggle('dark');
          $('#spinnerCogModal').modal('show');
          //pause for 1 second...?
          const form = document.createElement('form');
          form.method = 'post';
          form.action = "/manageaccount";

          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = "returnedAction";
          hiddenField.value = "toggleTheme";
          const hiddenField2 = document.createElement('input');
          hiddenField2.type = 'hidden';
          hiddenField2.name = "pageoffset";
          hiddenField2.value = pagepos;

          form.appendChild(hiddenField2);
          form.appendChild(hiddenField);
          document.body.appendChild(form);
          form.submit();
        });




    </script>
{% endblock %}
