{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}


{% block main %}
<div class="scrolling_page no-x">
  <div class="smalltopspace mt-3"></div>
    <form action="/contact" method="post">
        <div class="form-group" style="text-align: left;">
          <h3>Contact Us</h3>
          <p>
            Want more info before you sign up? <br>
            Let me konw how I can help. If you would like a demo of the session,
            please check the box at the bottom. Also include any additional
            information on why you want a demo instead of simply signing up.
            <ul>
              <li>What are your reasons for requesting a demo?</li>
              <li>Are the additional features that you are looking for?</li>
              <li>How do you primarily want to use this app?</li>
              <li>Do you have questions about the features/capabilities?</li>
              <li>Feel free to tell a little about yourself too!</li>
            </ul>
          </p>
          <br>
          <div class="d-flex justify-content-start">
            <label class="text-left" for="messsage"><strong>Interests / Questions / Feedback:</strong></label><br>
          </div>
          <textarea class="form-control" rows="5" id="messsage" name="messsage" style="width: 90%" placeholder="your message" maxlength="800"></textarea>

        <br>
        <br>
          <div style="font-size: smaller">
            <p>
              Please be sure to include your email address in the feld below so that I can reach out to you and answer your question(s)
              or provide you with a demo session.
            </p>
            <div id="shareSelector" style="margin: 20px; padding: 10px; border: 1px dashed gray; border-radius: 3px; width: max-content;">
              <div class="input-group mb-3 long-input mx-auto">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><span class="redstar"">*</span>Email</span>
                  </div>
                  <input autocomplete="off" class="form-control" name="email" placeholder="you@somewhere.com" type="email" required>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="" value="" id="requestdemo" {{ 'checked' if demoRequested }}/>
                <label class="form-check-label" for="requestdemo">
                  I'm interested in a demo session.
                </label>
              </div>
            </div>
          </div>
        </div>

        <br><br>
        <button class="btn btn-primary" id="sendMe" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerCogModal">Send</button>
        <br><br>
        <button class="btn btn-secondary" id="cancel" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerModal">Cancel</button>

        <br><input id="hiddenInfoBox" name="returnedAction" value="" style="display: none;"></input>
        <input id="shareList" name="shareList" value="email_check,firstname_check,username_check" style="display: none;"></input>
    </form>
    <div class="deadspace"></div>
    <div class="deadspace"></div>
</div>

    <script>
        var messsage = document.getElementById("messsage");
        var sendMe = document.getElementById("sendMe");
        var cancelBtn = document.getElementById("cancel");

        cancelBtn.onclick = function(){
            hiddenInfoBox.value = "cancel";
        };

        sendMe.onclick = function(){
            hiddenInfoBox.value = "sendMe";
        };

        function getShareList() {
              // get reference to element containing toppings checkboxes
              var el = document.getElementById('shareSelector');

              // get reference to input elements in toppings container element
              var info = el.getElementsByTagName('input');

              var finalList;
              var finalList2;
              finalList = "";

              // assign function to onclick property of each checkbox
              for (var i=0, len=info.length; i<len; i++) {
                  if ( info[i].type === 'checkbox' ) {
                      if (info[i].checked) {
                        finalList += (info[i].id + ',');
                      }
                  }
              }

              if (finalList != "") {
                finalList2 = finalList.slice(0, -1);
              } else {
                finalList2 = finalList;
              }

              document.getElementById("shareList").value = finalList2;

            }

    </script>
{% endblock %}
