{% extends "layout.html" %}

{% block moreHead %}
    <link href="/static/checkboxes.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Manage Members
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}


{% block main %}
<div class="scrolling_page p-3">
    <br>
    <h3>Management of Members</h3>
    <h4>{{ neighborhoodname }}</h4>
    <hr>
    <div style="text-align: left; max-width: 600px; margin: auto;">
        As an admin of the neighborhood, you have extra responsibility to oversee the group along with extra permissions for
        managing the neighborhood members.<br>
        There must always be an admin for each neighborhood. If no admin remains, the neighborhood will be permanently deleted.<br>
        <br>
        As an admin you may perform the following additional member actions:<br>
        <table style="margin-left: 5vw;">
          <tr>
            <td><i class="fa fa-plus"></td>
            <td style="text-align: left; padding-left: 10px;">
              Add a new member by username or email address
              <span class="text-muted" data-toggle="modal" data-target="#addMemberModal" style="cursor: pointer; font-size: 0.8em;">
                &nbsp; <i class="fa fa-info-circle"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-minus"></td>
            <td style="text-align: left; padding-left: 10px;">Remove a member</td>
          </tr>
          <tr>
            <td><i class="fa fa-ban"></td>
            <td style="text-align: left; padding-left: 10px;">Block/ban a member</td>
          </tr>
          <tr>
            <td><i class="fa fa-id-badge"></td>
            <td style="text-align: left; padding-left: 10px;">Grant a member admin access</td>
          </tr>
        </table>
    </div>
    <div class="smalltopspace"></div>
    <div class="smalltopspace"></div>

    <h5>Members</h5>
    <form action="/managemembers" method="post">
      <div class="container p-4" style="max-width: 500px; margin: auto; padding-top: 0!important; padding-bottom: 0!important;">
        <div class="membercontainer {% if session.theme == 'dark' %}dark{% endif %}">
          {% for member in allMembers %}
          <div class="flex-container memberlist {% if session.theme == 'dark' %}dark{% endif %}">
            <div style="flex-grow: 8; text-align: left; padding-left: 15px;" title="{{ allMembers[member]['username'] }}">{{ allMembers[member]['firstname'] }}</div>
            <div class="memberaction" title="remove user" onclick="confirmationModal('removed from', '{{ allMembers[member]['username'] }}', '{{ allMembers[member]['firstname'] }}');"><i class="fa fa-minus"></i></div>
            <div class="memberaction" title="ban user" onclick="confirmationModal('banned from', '{{ allMembers[member]['username'] }}', '{{ allMembers[member]['firstname'] }}');"><i class="fa fa-ban"></i></div>
            <div class="memberaction" title="make user an admin" onclick="confirmationModal('granded admin privilages to', '{{ allMembers[member]['username'] }}', '{{ allMembers[member]['firstname'] }}');"><i class="fa fa-id-badge"></i></div>
          </div>
          {% endfor %}
          <div id="new_member_field" class="flex-container memberlist {% if session.theme == 'dark' %}dark{% endif %}" style="background-color: #ffc772d9; display: none;">
            <div style="flex-grow: 1; text-align: left;" title="add ther new name here">
              <input id="new_member" type="text" class="form-control {% if session.theme == 'dark' %}dark{% endif %}" name="new_member" placeholder="username or email" maxlength="70" value="" autocomplete="off">
            </div>
            <div class="memberaction" title="info" style="color: #a5a5a5; font-size: 1.2em;" data-toggle="modal" data-target="#addMemberModal"><i class="fa fa-info-circle"></i></div>
            <div class="memberaction" title="save" style="color: green; font-size: 1.2em;"><i class="fa fa-check"></i></div>
            <div class="memberaction" title="cancel" onclick="hide_new_member_field()" style="color: red; font-size: 1.2em;"><i class="fa fa-times"></i></div>
          </div>
        </div>
      </div>

      <button id="new_member_button" class="btn btn-outline-info" onclick="show_new_member_field()" type="button" style="width: 260px; margin-top: 5px;"><i class="fa fa-plus"></i> Add a Member</button><br>
      <div class="smalltopspace"></div>

      {% if bannedUsers %}
      <div class="form-check" style="padding-left: 0;">
        <button type="button" id="toolvisbutton" onclick=setVisibility() class='btn btn-warning'>Banned User List&nbsp;&nbsp;<i id="chevron1" class="fa fa-chevron-down spinme" style="color: #252525; font-size: 10px"></i></button>
        <div id="toolselector" class="expandanimate" style="max-height: 0px">
          <div class="btn-group btn-group-sm" style="margin-top: 5px">
            <button class="btn btn-success" onclick="updateinfobox('updatetoolvis')" type="submit">Un-Ban <i class="fa fa-check"></i></button>
            <button type="button" class="btn btn-warning" onclick="hideBanList();">Discard <i class="fa fa-times"></i></button>
          </div>
          <div style="font-size: 0.8em; color: grey;">Check a user to un-ban them</div>
          <div class="selector_list ">
            <ul class="list {% if session.theme == 'dark' %}dark{% endif %}" style="overflow-y: scroll;">

            {% for user in bannedUsers %}
            <li class="list-item {% if session.theme == 'dark' %}dark{% endif %}">
              <input type="checkbox" class="hidden-box" id="{{ bannedUsers[user]['uuid'] }}"/>
              <label for="{{ bannedUsers[user]['uuid'] }}" class="check--label">
                <span class="check--label-box"></span>
                <span class="check--label-text {% if session.theme == 'dark' %}dark{% endif %}" title="{{ bannedUsers[user]['username'] }}">{{ bannedUsers[user]['firstname'] }}</span>
              </label>
            </li>
            {% endfor %}
            {% if not bannedUsers -%}
            <li class="list-item {% if session.theme == 'dark' %}dark{% endif %}">
              <input type="checkbox" class="hidden-box" id="emptybanlist" disabled/>
              <label for="emptybanlist" class="check--label" style="justify-content: center; cursor: default">
                <span class="check--label-text {% if session.theme == 'dark' %}dark{% endif %}" style="border: 0; cursor: default;"> -- no one banned --</span>
              </label>
            </li>
            {%- endif %}

          </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="smalltopspace"></div>
      <div class="smalltopspace"></div>

      <button class="btn btn-primary" type="submit" style="width: 230px; color: white;" id="sendEmail">Email the Neighborhood</button>
      <div class="smalltopspace"></div>
      <a class="btn btn-secondary" onclick="window.history.go(-1); return false;" style="width: 190px; color: white;">Cancel</a>
      <br><input id="hiddenInfoBox" style="display: none;" name="returnedAction" value=""></input>
      <br><input id="hiddenInfoBox2" style="display: none;" name="nbhid" value="{{ neighborhoodid }}"></input>
      <br><br>
    </form>
    <div class="deadspace"></div>
</div>

  <!-- The Modal -->
  <div class="modal fade" id="addMemberModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content {% if session.theme == 'dark' %}nav_dark{% endif %}">

        <!-- Modal Header -->
        <div class="modal-header {% if session.theme == 'dark' %}nav_dark{% endif %}">
          <h4 class="modal-title">Adding a Member</h4>
          <button type="button" class="close {% if session.theme == 'dark' %}dark{% endif %}" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-left {% if session.theme == 'dark' %}dark{% endif %}">
          When you manually add a user by email address or username, if there is an existing user that matches those details they will
          be sent an invite email to directly join the neighborhood through a link.  This will bypass any password or visibility of your
          neighborhood.<br><br>
          The direct link will only work for that person, and will not expire.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer {% if session.theme == 'dark' %}nav_dark{% endif %}">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="actionModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content {% if session.theme == 'dark' %}nav_dark{% endif %}">

        <!-- Modal Header -->
        <div class="modal-header {% if session.theme == 'dark' %}nav_dark{% endif %}">
          <h4 class="modal-title">Confirm Action</h4>
          <button type="button" class="close {% if session.theme == 'dark' %}dark{% endif %}" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-left {% if session.theme == 'dark' %}dark{% endif %}">
          Are you sure you would like <span id="thefirstname">userfirstname</span> (<span id="theusername">userusername</span>) to be <span id="theaction">defaultaction</span> this neighborhood?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer {% if session.theme == 'dark' %}nav_dark{% endif %}">
          <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <span style="margin-left: 23px">
            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
          </span>
        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <script>
      var showInfoModal;
      $().ready(function(){
        //jQuery function
        confirmationModal = function(theaction, theusername, thefirstname)
        {
          jQuery.noConflict();
          var myInfoModal = $('#actionModal');
          myInfoModal.find('#theaction').text(theaction);
          myInfoModal.find('#theusername').text(theusername);
          myInfoModal.find('#thefirstname').text(thefirstname);
          myInfoModal.modal('show');
        };
      });

        var sendEmail = document.getElementById("sendEmail");
        var hiddenInfoBox = document.getElementById("hiddenInfoBox");

        sendEmail.onclick = function(){
            hiddenInfoBox.value = "sendMail";
        };


        function hideBanList() {
          var chevron1 = document.getElementById('chevron1');
          var toolselector = document.getElementById("toolselector");
          chevron1.style.transform = "rotateX(0deg)";
          chevron1.style.color = "#252525";
          toolselector.style.maxHeight = '0px';
        }


      function show_new_member_field() {
        document.getElementById('new_member_field').style.display = "flex";
        document.getElementById('new_member_button').disabled = true;
      }

      function hide_new_member_field() {
        document.getElementById('new_member_field').style.display = "none";
        document.getElementById('new_member').value = "";
        document.getElementById('new_member_button').disabled = false;
      }

    </script>
{% endblock %}
