{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Account Management
{% endblock %}

{% block FAQ_title %}
User history
{% endblock %}


{% block FAQ_body %}
You can view the full history of your actions and tools. To locate this history,
navigate to your account management by clicking on your name in the top right
corner of the screen, near the gear icon. From there, navigate down to a button
called "View History".<br>
<br>
This will take you to a screen with a table view showing dates, tool, and the
description of the event. When you click on a row, it will show you a few more
details about that history log.<br>
<br>
This can be helpful to remember who borrowed what tool and when, or when you added
or removed a tool.

{% endblock %}
