{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Adding Tools
{% endblock %}


{% block FAQ_body %}
To add a new tool into your personal library, navigate to the "My Tools" section of the toolbox.<br>
Then, click the big green button in the center bottom that says "+ Add a Tool".<br>
From there, fill in the details and optionally add an image of the tool.  The Features section is visible to
anyone who can see your tool. The private notes will only be visible to you.
When complete, press the "Add Tool" button.
Now you've got a new tool in your toolbox.
<br><br>
Learn more about setting your tool's sharing settings based on your neighborhoods. (link)<br>
Are you having issues with the image upload? Check out this help page. (link)

{% endblock %}
