{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Account Management
{% endblock %}

{% block FAQ_title %}
Delete my account
{% endblock %}


{% block FAQ_body %}
If at any point you would like, you can delete your ToolShare account. We would
really like it if you provided some feedback on what worked well and not, as well
as why you decided to leave.<br>
<br>
To delete your account, navigate over to the account management page by clicking
on your name in the top right corner of the screen (or in the hamburger menu if
you are on a mobile device). At the bottom of the screen you will see a red button
"Delete Account" which will take you to a confirmation page. Before you delete
your account, please enter your password.<br>
<br>

{% endblock %}
