{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Editing Tools
{% endblock %}


{% block FAQ_body %}
To edit a tool that you own, first navigate to the "My Tools" section of the toolbox.<br>
Then select the tool that you need to modify, and click on the "Edit Details" butotn.
You can change any details about the tool, including the image.<br>
<br>
Once all of your changes are made, click the "Update Details".
<br><br>
Learn more about setting your tool's sharing settings based on your neighborhoods. (link)<br>
Are you having issues with the image upload? Check out this help page. (link)

{% endblock %}
