{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Account Management
{% endblock %}

{% block FAQ_title %}
Email Requirement
{% endblock %}


{% block FAQ_body %}
<p>
  We only use your email for communication regarding your tools. You will get notified by email when
  someone wants to borrow a tool or when your request to borrow a tool gets approved or rejected.
</p>
<p>
  We will never share your email (or any of your data) with a third party outside of ToolShare (only other ToolShare users as required).
</p>
<p>
  Your name, username, and email address will be shared with other ToolShare users with whom you either lend or borrow a tool from.
  This is how users can connect and actually share their tools. This also ensures a level of accountability among users.
  Please respect their privact and do not share their email address.
</p>
<p>
  Other personal information, such as phone numbers, may be shared with others but you may elect what else is shared with others.
</p>
<p>
  If you do not want to share you personal email, have a look at 33mail.com! You can create an alias email address that forwards
  to a personal account.
</p>

{% endblock %}
