{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Borrowing and Lending
{% endblock %}

{% block FAQ_title %}
Finding Tools
{% endblock %}


{% block FAQ_body %}
When you need a tool for a project, always remember to check ToolShare first!
Hopefully you can save some money using a tool that's nearby and available.<br>
<br>
To search for a tool, navigate back to the home screen by clicking on the ToolShare
icon in the top left of the screen. If you were logged in already, it will take
you to the "Borrowed" section of the Toolbox tab. From there, click the big orange
button that says "Find a Tool". This will take you to a screen that shows all of
the tools that are visible to you in all of your neighborhoods. You can apply some
filters or search for the tool you need.<br>
<br>
If you see no tools on that page, make sure your search and filters are reset and
also be sure that you are a part of some neighborhoods. If you confirm all of these
items, you can also ask neighbors if they have a tool for the job.<br>
<br>
To ask a neighbor if they have a tool, you should see an "Ask a Neighbor" button
at the end of the tool list in the "Find a Tool" page. This will take you to a
form to fill in that will send an email to the neighborhoods that you select. They
will all see the request and hopefully, if they own a tool that can help will
message you back and load their tool into their inventory for you to borrow.<br>
<br>
Have fun saving!
{% endblock %}
