{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Neighborhoods
{% endblock %}

{% block FAQ_title %}
Inviting others to your neighborhood
{% endblock %}


{% block FAQ_body %}
Neighborhoods are more useful with more members. After you've created your neighborhood
you should send out some invites for your friends to join. To get the share link,
navigate to the neighborhood detail page and scroll to the bottom. There you will see
a share link that you can copy and send to a friend. You can also click a "show
QR code" button for them to scan your phone screen with their camera.<br>
<br>
Happy sharing!

{% endblock %}
