{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Introduction
{% endblock %}

{% block FAQ_title %}
Welcome to ToolShare
{% endblock %}


{% block FAQ_body %}
When you first create an account, you will have no tools in your toolbox and will
be part of no neighborhoods.<br>
It's good to first understand the layout of the app. In general the navigaion is
at the bottom of the screen. On the left side is the icon that looks like a group
of people. This is where you will manage your neighborhoods. The center icon is of
a toolbox, and this is the default screen showing tools. The right side of the
main navigation is the actions and notification area. There you will see any
requests for tools and can check on the requests that you have made for other
people's tools.<br>
<br>
Each of these three main screens has additional tabs at the bottom. For example,
the main toolbox tab has two sections. One showing the tools that you are currently
borrowing, and the other is your personal inventory. When you switch between the
two pages, the center action button changes. When you are in the Borrowed section,
the action button is "Find a Tool". This is where you will go to find tools owned
by other people to borrow. When you are in the My Tools section, the button changes
to "Add a Tool". This is how you can add your tools to your personal inventory.<br>
<br>
A core feature of this app is the interraction with others, and sharing tools with
friends and neighbors. You will need to either create and/or join a neighborhood
to be able to search for tools. Feel free to create multiple neighborhoods, as you
can setup selective sharing of tools based on which neighborhoods can see which
tools.<br>
<br>
That should be enough to get you started! Explore around and have fun, and if you
find any bugs or have suggestions, please use the contact form to pass on the info.
{% endblock %}
