{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Sharing settings for your tool
{% endblock %}


{% block FAQ_body %}
<p>
  When creating or editign a tool, you will have the option to either mark your tool
  as private, public, or custom. <br>
  <br>
  Private will make the tool only visible to you. This
  can be useful when you want to inventory all of your tools, but not share some of
  them with anyone.<br>
  <br>
  Public will automatically make that tool visible to ALL of your neighborhods. Even
  if you join a new neighborhood, it will keep that tool visible to the new group as
  well as the existing ones.<br>
  <br>
  If you want to control which neighborhoods have visiblity over that tool, you can
  select the custom option. When selected, a dropdown window will show all of your
  current neighborhoods. Check the box for neighborhoods that you'd like to be able
  to view and borrow this too.
</p>
<p>
  Alternatively, you can also go into your neighborhoods tab of the app, and click
  on a specific neighborhood. In there, you will see the option called "Modified Shared Tools List".
  This will expand a dropdown for all of your tools.<br>
  <br>
  It's important to note that if you change selections here, it will make the share
  settings for the tool change to Custom. So if it was originally set to Public, 
  for example, it would now be Custom and will not be automatically added to new
  neighborhoods that you join.
</p>

{% endblock %}
