{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Changing tool visibility
{% endblock %}


{% block FAQ_body %}
Your tools can either be marked as public or private or custom. If the tool is marked as
private, it will not show up in anyone's tool list when they are looking for a tool.
This is great if you want to load items into the app to track your inventory but
maybe don't want anyone to ever borrow a specific tool.<br>
<br>
If a tool is marked as public, anyone can see this tool when searching for it if
they are members of a common neighborhood. To switch between private and public,
you can click the button on the Tool Detail page (but this will purge any stored
custom tool visibility for that tool). You can also switch between public, private,
or custom in the Edit Tool page.<br>
<br>
For more on the selective tools sharing (or custom tool visibility), please see the
help page on that subject. (link)

{% endblock %}
