{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Tool history
{% endblock %}


{% block FAQ_body %}
You can view your tool's history when looking at the tool details. Navigate to
your tools in the My Tools section of the toolbox page. You can then click on
any of your tools to view their history. When viewing the Tool Details, you will
see a button "View Tool History" which will expand a table showing the past events
for that specific tool.<br>
<br>
This button and history view is only available to you, the tool owner. It shows
when the tool is requested, borrowed, returned, and edited.<br>
<br>
Another location to view history is in your account management area. The hsitory
view in your account management shows much more than just one tool's history. For
more information on that account history, see that help page. (link)

{% endblock %}
