{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Account Management
{% endblock %}

{% block FAQ_title %}
Update user details
{% endblock %}


{% block FAQ_body %}
You are able to change any details of your accout other than your username. To
make any of these changes, navigate to your account management page by clicking
on your name in the top right corner of any screen (or in the hamburger menu if
you are on a mobile device).<br>
<br>
In your account management page, you will see many options to change your user
details. Please note, if you change your email address, you must enter the
confirmation code to validate the email address. You may not have a ToolShare
account without a valid email address. Learn more about why you need a valid
email address here (link).<br>
<br>
To change your communication preferences, click on the "Communication Preferences"
button in the account management page. You can select which emails you would like
to receive, or if you would like to have a phone number listed for easer user
communication.

{% endblock %}
