{% extends "/FAQs/FAQ_layout.html" %}

{% block FAQ_subject %}
Tools
{% endblock %}

{% block FAQ_title %}
Viewing my tools
{% endblock %}


{% block FAQ_body %}
<p>
  You can see your tools in the "My Tools" section of the original page. To get there
  you can click on the toolshare icon from any screen that you are on, and then on
  the bottom right side of the screen click the "My Tools" button.<br>
  <br>
  All of your tools will be listed in alphabetical order. You can search and apply
  the same filters to your tools as you would in other views too. Tools that are
  currently borrowed will be greyed-out and will have the "borrowed" badge beside
  them. If there is a pending request for the tool, you will see the yellow badge
  that says "requested" but the tool will not be greyed out.
</p>
<p>
  It's possible to borrow your own tools. This can be useful to make sure other
  don't borrow a tool that you are currently using. You can also borrow it yourself
  for someone who hasn't signed up for this app yet. Just leave their name in the
  comments of the request to remember who has it.
</p>
{% endblock %}
