{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}


{% block main %}
<div class="scrolling_page no-x">
  <div class="smalltopspace"></div>
    <form action="/contact" method="post">
        <div class="form-group" style="text-align: left;">
          <h3>Contact Us</h3><br>
          <p>
            Get more info before you sign up!  Let us konw how we can help. <br>
            If you would like a demo of the session, please check the box below. Also include any additional
            information on why you want a demo instead of simply signing up.
            <ul>
              <li>What works well? What do you like?</li>
              <li>What doesn't work? What feels clunky?</li>
              <li>Did you find a bug? What were you trying to do?</li>
              <li>What is confusing in the app or website?</li>
              <li>What extra features would you like to see?</li>
              <li>What is keeping you from using this app more?</li>
            </ul>
          </p>
          <br>
          <div class="d-flex justify-content-start">
            <label class="text-left" for="messsage"><strong>Questions or Feedback:</strong></label><br>
          </div>
          <textarea class="form-control" rows="5" id="messsage" name="messsage" style="width: 90%" placeholder="your message" maxlength="800"></textarea>

        <br>
        <br>
          <div style="font-size: smaller">
            <p>
              By default, we will received your firstname, username, and email address that are saved in your account. This can help us reach out if we have any follow-up questions.<br>
              If you wish to remain anonymous, you can select which fields you are willing to share with your response.
            </p>
            <p>
              Please note, if you are asking a question, at least include your email address so that we can respond to you directly.
            </p>
            <div id="shareSelector" style="margin: 20px; padding: 10px; border: 1px dashed gray; border-radius: 3px; width: max-content;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="getShareList()" value="" id="email_check" checked/>
                <label class="form-check-label" for="email_check">
                  Email <span class="text-muted">Example email</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="getShareList()" value="" id="firstname_check" checked/>
                <label class="form-check-label" for="firstname_check">
                  Firstname <span class="text-muted">example firstname</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="getShareList()" value="" id="username_check" checked/>
                <label class="form-check-label" for="username_check">
                  Username <span class="text-muted">example username</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <br><br>
        <button class="btn btn-primary" id="sendMe" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerCogModal">Send</button>
        <br><br>
        <button class="btn btn-secondary" id="cancel" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerModal">Cancel</button>

        <br><input id="hiddenInfoBox" name="returnedAction" value="" style="display: none;"></input>
        <input id="shareList" name="shareList" value="email_check,firstname_check,username_check" style="display: none;"></input>
    </form>
    <div class="deadspace"></div>
    <div class="deadspace"></div>
</div>

    <script>
        var messsage = document.getElementById("messsage");
        var sendMe = document.getElementById("sendMe");
        var cancelBtn = document.getElementById("cancel");

        cancelBtn.onclick = function(){
            hiddenInfoBox.value = "cancel";
        };

        sendMe.onclick = function(){
            hiddenInfoBox.value = "sendMe";
        };

        function getShareList() {
              // get reference to element containing toppings checkboxes
              var el = document.getElementById('shareSelector');

              // get reference to input elements in toppings container element
              var info = el.getElementsByTagName('input');

              var finalList;
              var finalList2;
              finalList = "";

              // assign function to onclick property of each checkbox
              for (var i=0, len=info.length; i<len; i++) {
                  if ( info[i].type === 'checkbox' ) {
                      if (info[i].checked) {
                        finalList += (info[i].id + ',');
                      }
                  }
              }

              if (finalList != "") {
                finalList2 = finalList.slice(0, -1);
              } else {
                finalList2 = finalList;
              }

              document.getElementById("shareList").value = finalList2;

            }

    </script>
{% endblock %}
