{% extends "layout.html" %}

{% block title %}
    Tools
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}

{% block main %}
<div class="container p-3">
    <h4 class="smalltopspace">Find a Tool</h4>

    <div id="findTools" name="findTools" class="contianer"><!-- maybe get rid of the "container" class-->
      <div class="search_header">
        <!--<div class="tab_actions text-center">
          <a href="\newtool" type="button" class="btn btn-success tab_button"  style="z-index: 7;">Add a Tool</a>
        </div>-->
        <!-- Filter Div-->
        <div class="filters">
            <input class="form-control top_search" id="search2" type="text" autocomplete="off" placeholder="Search all...">
            <button id="cancel2" class="btn bg-transparent btn-pos" style="margin-left: -40px; z-index: 100; visibility: hidden;">
              <i class="fa fa-times"></i>
            </button>
            <div class="filterIconBox dropdown dropleft float-right">
                  <button id="filter_btn2" class="filterIcon" data-toggle="dropdown">
                    <i class="fas fa-filter"></i>
                  </button>
                  <!--<button type="button" class="btn btn-primary" data-toggle="dropdown">
                  Dropleft button
                  </button>-->
                  <div class="dropdown-menu dropdown_formatsjs">
                    <div class="dropdown-header">Tool Caterory Filter</div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="selectall2" type="checkbox" class="form-check-input" value="all" onclick="filterboxesall2();" checked>(Select All)
                      </label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="hand2" type="checkbox" class="form-check-input" value="æ"  onclick="filterboxes2();" checked>Hand
                      </label>
                    </div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="power2" type="checkbox" class="form-check-input" value="‰"  onclick="filterboxes2();" checked>Power
                      </label>
                    </div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="garden2" type="checkbox" class="form-check-input" value="»"  onclick="filterboxes2();" checked>Garden
                      </label>
                    </div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="fastening2" type="checkbox" class="form-check-input" value="Þ"  onclick="filterboxes2();" checked>Fastening
                      </label>
                    </div>
                    <div class="form-check padd_left">
                      <label class="form-check-label">
                        <input id="uncategorized2" type="checkbox" class="form-check-input" value="‡"  onclick="filterboxes2();" checked>Uncategorized
                      </label>
                    </div>
                  </div>
            </div>
            <!--<div class="filterIconBox">
                <div id="select_btn" class="filterIcon"><i class="fas fa-check-square"></i></div>
            </div>-->
        </div>
      </div>
      <!--
      Category Symobls:
        Hand: æ
        Power: ‰
        Garden: »
        Fastening: Þ
        Uncategorized: ‡
      -->
      <div class="list_div find_tool_list tab-content">
        <ul class="list-group list-group-flush" id="myList2">
          {% for tool in alltools %}
            {% if 'borrowed' in alltools[tool]['state'] or 'overdue' in alltools[tool]['state'] %}
            <li class="list-group-item greyedout" onclick="gotosite('{{ alltools[tool]['toolid'] }}')">{% if alltools[tool]['photo'] %}<img class="thumbnail" src="../static/toolimages/{{ alltools[tool]['toolid'] }}_thumb.png">{% endif %}<i class="fas fa-wrench"></i> &nbsp; {{ alltools[tool]["toolname"] }}<span class="hiddencategory">{{ alltools[tool]["category"] }}</span><span class="badge badge-pill badge-secondary" style="float: right">borrowed</span></li>
            {% elif 'requested' in alltools[tool]['state'] %}
            <li class="list-group-item greyedout" onclick="gotosite('{{ alltools[tool]['toolid'] }}')">{% if alltools[tool]['photo'] %}<img class="thumbnail" src="../static/toolimages/{{ alltools[tool]['toolid'] }}_thumb.png">{% endif %}<i class="fas fa-wrench"></i> &nbsp; {{ alltools[tool]["toolname"] }}<span class="hiddencategory">{{ alltools[tool]["category"] }}</span><span class="badge badge-pill badge-warning" style="float: right">requested</span></li>
            {% else %}
            <li class="list-group-item" onclick="gotosite('{{ alltools[tool]['toolid'] }}')">{% if alltools[tool]['photo'] %}<img class="thumbnail" src="../static/toolimages/{{ alltools[tool]['toolid'] }}_thumb.png">{% endif %}<i class="fas fa-wrench"></i> &nbsp; {{ alltools[tool]["toolname"] }}<span class="hiddencategory">{{ alltools[tool]["category"] }}</span></li>
            {% endif %}
          {% endfor %}

            <!--
            <li class="list-group-item borrowed"><i class="fas fa-image"></i> Shop-Vac<span class="hiddencategory power">‰</span>
              <span class="badge badge-pill badge-secondary" style="float: right">borrowed</span>
            </li>
            <li class="list-group-item"><i class="fas fa-image"></i> Shovel<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Sledgehammer<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Sliding Miter Saw<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item greyedout"><i class="fas fa-image"></i> Snap Ring Pliers<span class="hiddencategory hand">æ</span>
              <span class="badge badge-pill badge-warning" style="float: right">requested</span>
            </li>
            <li class="list-group-item"><i class="fas fa-image"></i> Socket Wrench<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Speed Square<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Stud Finder<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Table Saw<span class="hiddencategory power">‰</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Sawzall Reciprocating Saw<span class="hiddencategory power">‰</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Drill Bits<span class="hiddencategory power">‰</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Hacksaw<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Pipe Wrench<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Torque Wrench<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Tongue And Groove Pliers<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> WD-40<span class="hiddencategory fastening">Þ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Wheelbarrow<span class="hiddencategory garden">»</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Wire Strippers<span class="hiddencategory hand">æ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Gorilla Glue<span class="hiddencategory fastening">Þ</span></li>
            <li class="list-group-item"><i class="fas fa-image"></i> Wood Moisture Meter<span class="hiddencategory uncategorized">‡</span></li>-->

        </ul>
        <div class="deadspace"></div>
        <div class="deadspace"></div>
      </div>
    </div>






    <!-- MODAL FILTER -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">Modal Heading</h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h3>Some text to enable scrolling..</h3>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

    <script>
    $(document).ready(function(){
      $("#search2").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myList2 li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
    });

    var search2 = document.getElementById("search2");
    var cancel2 = document.getElementById("cancel2");


    search2.onkeyup = function() {
      var value = search2.value;
      if (value == '') {
        cancel2.style.visibility = 'hidden';
      } else {
        cancel2.style.visibility = 'visible';
      }
    };


    $(document).on('click', '#cancel2', function(){
        $("#search2").val('').trigger("keyup").focus();
    });


    /* Dropdown Checkboxes (2)*/
    var selectall2 = document.getElementById("selectall2");
    var hand2 = document.getElementById("hand2");
    var power2 = document.getElementById("power2");
    var garden2 = document.getElementById("garden2");
    var fastening2 = document.getElementById("fastening2");
    var uncategorized2 = document.getElementById("uncategorized2");

    function filterboxesall2()
    {
      if (selectall2.checked)
      {
          /*alert("checked");*/
          hand2.checked = true;
          power2.checked = true;
          garden2.checked = true;
          fastening2.checked = true;
          uncategorized2.checked = true;
      } else {
          /*alert("not checked");*/
          hand2.checked = false;
          power2.checked = false;
          garden2.checked = false;
          fastening2.checked = false;
          uncategorized2.checked = false;
      }
      setfilters2();
    }

    function filterboxes2()
    {
      if (hand2.checked && power2.checked && garden2.checked && fastening2.checked && uncategorized2.checked)
      {
          /*alert("all are checked");*/
          selectall2.checked = true;
      } else {
          /*alert("at least one is not checked");*/
          selectall2.checked = false;
      }
      setfilters2();
    }


    function setfilters2() {
      var handfilter2 = "";
      var powerfilter2 = "";
      var gardenfilter2 = "";
      var fasteningfilter2 = "";
      var uncategoriedfilter2 = "";

      if (!hand2.checked) handfilter2 = hand2.value + "";
      if (!power2.checked) powerfilter2 = power2.value + "";
      if (!garden2.checked) gardenfilter2 = garden2.value + "";
      if (!document.getElementById("fastening2").checked) fasteningfilter2 = (document.getElementById("fastening2").value) + "";
      if (!document.getElementById("uncategorized2").checked) uncategoriedfilter2 = (document.getElementById("uncategorized2").value) + "";

      //alert(handfilter2 + powerfilter2 + gardenfilter2 + fasteningfilter2 + uncategoriedfilter2);
      applyfilter2(handfilter2 + powerfilter2 + gardenfilter2 + fasteningfilter2 + uncategoriedfilter2);
    }

    function applyfilter2($param) {
        var value = $param;
        var re = RegExp(`.*${value.split('').join('.*')}.*`);
        re = RegExp(`.*[${value}].*$`);
        //alert(re);
        $("#myList2 li").filter(function() {
          $(this).toggle($(this).text().match(re) > -1);
        });
    }

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });


    function gotosite(siteid){
      window.location.href = "/tool_details?toolid=" + siteid;
    }

    </script>

{% endblock %}



<!--
                <li class="list-group-item"><i class="fas fa-image"></i> Chainsaw</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Chisels</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Circular Saw</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Claw Hammer</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Cordless Drill</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Drilling Hammer</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Duct Tape</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Electrical Tape</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Extension Cord</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Flashlight</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Ladder</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Utility Knife</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Handsaw</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Jab Saw</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Jigsaw</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Joint Knife</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Jumper Cables</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Knee Pads</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Linesman’s Pliers</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Locking Pliers</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Measuring Tape</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Chalk Line</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Digital Caliper</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Hose</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Measuring Cup</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Metal Files</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Plumb Bob</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Builders Level</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Toolbox</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Nail Punch</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Needle Nose Pliers</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Plunger</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Prybar</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Putty Knife</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Random Orbital Sander</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Rope</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Rubber Mallet</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Safety Glasses</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Safety Respirator</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Scissors</li>
                <li class="list-group-item"><i class="fas fa-image"></i> Screwdrivers</li>



-->