<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="/static/styles_luggage.css" rel="stylesheet">
        <title>Found Luggage</title>

        <script src="https://www.google.com/recaptcha/api.js?render=6LeIy3MdAAAAAFVLir2JqWgA15O_yNbf-ccygeay"></script>

        <script>
            grecaptcha.ready(function () {
                grecaptcha.execute('6LeIy3MdAAAAAFVLir2JqWgA15O_yNbf-ccygeay', {action: 'validate_captcha'}).then(function (token) {
                    console.info("got token: " + token);
                    document.getElementById('g-recaptcha-response').value = token;
                });
            });
        </script>
     
    </head>

    <body>
        <div class="card-container shadow-lg p-3 mb-5 bg-white">
            {% if owner %}
            <div class="container">
                <div class="row">
                  <div class="col-sm-6 page_title">
                    <div class="card-heading h3 text-center">You found my bag!</div>
                  </div>
                  <div class="col-sm-6 p-3">
                    <img src="{{ imageURL }}" alt="image lookup error" class="makeround shadow">
                  </div>
                </div>
              </div>
            
            <hr>
            
            <div class="container card-contents">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pt-1">This bag belongs to:</div> 
                        <div class="mx-auto h6 data_field">
                            {{ owner }}
                        </div>

                        <div class="pt-1">Email address:</div> 
                        <div class="mx-auto h6 data_field">
                            <a href="mailto:{{ email }}">{{ email }} &nbsp;<i class='far fa-envelope'></i></a>
                        </div>

                        <div class="pt-1">Phone number:</div> 
                        <div class="mx-auto h6 data_field">
                            {{ phone }} <a href="tel:{{ phone }}"><i class='fas fa-phone'></i></a>
                        </div>
                        
                        <div class="pt-1">Home address:</div> 
                        <div class="pb-3 mx-auto h6 data_field">
                            {{ address }}
                        </div>
                    </div>
                    <div class="col-sm-6 page_title">
                        <form action="/found_luggage" method="post">
                            <div style="width: 100%; display: grid;">
                                <button type="button" class="btn btn-secondary m-2" onclick="getLocation()">Log the current location of this bag</button>
                                <button type="button" class="btn btn-success m-2">Send {{ firstname }} a message!</button>
                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                <input type="hidden" name="action" value="validate_captcha">
                            </div>
                        </form>
                        <div class="hidethisstuff" style="display: none;">
                            Bag Name: {{ bag_name }}<br>
                            Bag ID: {{ bagID }}<br>
                            IP Address: {{ ipaddress }}<br>
                            <br>
                            <div id="location"></div>
                            <a id="maplink" href="https://www.google.com" target="_blank" style="display: none">show on map</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card-heading h3 text-center">error</div>
            <p>bag not found</p>
            <img alt="bag error" style="width:100%; max-width: 600px;margin-bottom: -2%;" src="http://memegen.link/custom/ / .jpg?alt=https://i.imgur.com/c1BoXUL.png" title="bag error">
            {% endif %}
        </div>

        <footer class="text-center fixed-bottom" style="height: 28px;">
            <div class="small copyright">
                &copy 2020 -
                <script type="text/JavaScript">
                    document.write(new Date().getFullYear());
                </script>
                / Steven Small / All Rights Reserved
            </div>
        </footer>
        <script>
            var x = document.getElementById("location");
            var maplinkID = document.getElementById("maplink");
            
            function getLocation() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
              } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }
            
            function showPosition(position) {
                var latitude = position.coords.latitude
                var longitude = position.coords.longitude
                x.innerHTML = "Latitude: " + latitude + 
                "<br>Longitude: " + longitude;
                var maplink = "https://www.latlong.net/c/?lat=" + latitude + "&long=" + longitude
                maplinkID.href = maplink
                maplinkID.style.display = "block"
            }
            </script>
    </body>
</html>