{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}

{% block moreHead %}
<link href="/static/landing.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="subbody" >

  <!-- Top Introduction Carousel -->
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
      <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block w-100">

          <div class="mb-3">
            <div class="row no-gutters">
              <div class="col-sm-7 card-body-column">
                <img src="/static/LandingMedia/toolshare.svg" class="card-img" alt="tool sharing">
              </div>
              <div class="col-sm-5 card-body-column">
                <div class="card-body">
                  <div class="card-category">Spotlight</div>
                  <h5 class="card-title">Borrow and share tools</h5>
                  <p class="card-text">
                    Borrow and share your tools with friends and neighbors. Find what you need for your next project from those around
                    you. Add your tools to your virtual toolbox so that others can find what they need too.
                  </p>
                  <a type="button" class="btn btn-toolshare" href="/register">SIGN UP FOR FREE</a>
                  <p class="card-text"><a href="..." target="_blank"><small>Learn more about finding tools you need</small></a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100">

          <div class="mb-3">
            <div class="row no-gutters">
              <div class="col-sm-7 card-body-column">
                <img src="/static/LandingMedia/inventory.svg" class="card-img" alt="Inventory">
              </div>
              <div class="col-sm-5 card-body-column">
                <div class="card-body">
                  <div class="card-category">Logistics</div>
                  <h5 class="card-title">Manage your inventory</h5>
                  <p class="card-text">
                    Load all your tools and choose what to share. Keep track of their health
                    and history along with any notes. Get those dusty tools back to use.
                  </p>
                  <a type="button" class="btn btn-toolshare" href="/register">SIGN UP FOR FREE</a>
                  <p class="card-text"><a href="..." target="_blank"><small>Learn how to selectively share each tool</small></a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100">

          <div class="mb-3">
            <div class="row no-gutters">
              <div class="col-sm-7 card-body-column">
                <img src="/static/LandingMedia/savings.png" class="card-img" alt="money">
              </div>
              <div class="col-sm-5 card-body-column">
                <div class="card-body">
                  <div class="card-category">Impact</div>
                  <h5 class="card-title">Save money and the earth</h5>
                  <p class="card-text">
                    Don't buy a tool to use it two times- chances are someone already has what you need.
                    You will save money and reduce waste. Every house doesn't need a pressure washer.
                  </p>
                  <a type="button" class="btn btn-toolshare" href="/register">SIGN UP FOR FREE</a>
                  <p class="card-text"><a href="..." target="_blank"><small>See how much you could save</small></a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100">

          <div class="mb-3">
            <div class="row no-gutters">
              <div class="col-sm-7 card-body-column">
                <img src="/static/LandingMedia/blockparty.svg" class="card-img" alt="Block Party">
              </div>
              <div class="col-sm-5 card-body-column">
                <div class="card-body">
                  <div class="card-category">Connect</div>
                  <h5 class="card-title">Build community</h5>
                  <p class="card-text">
                    With more people home and isolating since COVID, sharing tools with friends and
                    neighbors will start to rebuild the bonds of community. Get out and interact with people again.
                  </p>
                  <a type="button" class="btn btn-toolshare" href="/register">SIGN UP FOR FREE</a>
                  <p class="card-text"><a href="/register" target="_blank"><small>Find neighborhoods near you today</small></a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Side Arrows
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  -->

  </div>



  <div class="smalltopspace"></div>

  <div class="crossplatform border-top">
    <h4 class="landingsectionheader">Cross Platform Support</h4>
    <div class="row no-gutters">
      <div class="col-sm-5 card-body-column">
        <div class="card-body">
          <h5 class="card-title">Use on any device</h5>
          <p class="card-text">
            As a web app, you can access and manage your tools on any device. Upload photos of your tools directly
            from your smartphone. <br><br>
            It's even possible to install the web app on your mobile device to make it feel more like a native app.
          </p>
        </div>
      </div>
      <div class="col-sm-7 card-body-column">
        <img src="/static/LandingMedia/digitaldevices.png" class="card-img" alt="any device">
      </div>
    </div>
  </div>

  <div class="features border-top">
    <h4 class="landingsectionheader">Features</h4>

    <div class="row no-gutters">
      <div class="col-sm-8 card-body-column">
        <img src="/static/LandingMedia/FindTool.png" class="screeney-img" alt="find a tool">
      </div>
      <div class="col-sm-4 card-body-column">
        <div class="card-body">
          <div class="rhombus" id="rhombus"></div>
          <p class="card-text">
            <strong>Search</strong> for the tools that you'll need in your next project. You'll see all of
            the tools that are being shared in all of your neighborhoods, and can filter
            by type (hand, power, garden, fastening, or other). If you can't find what you
            need just Ask a Neighbor. People will have tools that they haven't loaded in
            the app yet.
          </p>
        </div>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-4 card-body-column">
        <div class="card-body">
          <div class="rhombus" id="rhombus"></div>
          <p class="card-text">
            Easily store images of your tools, track their health, and store notes about the tools. You can have
            public notes that share the features/usage/care instructions/fees for others to see who may be interested
            in using your tool. There are also private notes where you can save other details like purchase date, cost,
            and who should or shouldn't borrow this tool.
            Also control which tools get shared in which neighborhoods.
          </p>
        </div>
      </div>
      <div class="col-sm-8 card-body-column">
        <img src="/static/LandingMedia/EditTool.png" class="screeney-img" alt="find a tool">
      </div>
    </div>

    <div id="rhombus"></div>
    <div class="row no-gutters">
      <div class="col-sm-5 card-body-column">
        <img src="/static/LandingMedia/FindTool.png" class="screeney-img" alt="find a tool">
      </div>
      <div class="col-sm-7 card-body-column">
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>Manage your tools, aprove or reject requests</li><br>
              <li>See other notifications</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>


Screenshots, Dark mode

  <div class="smalltopspace"></div>
  <div class="smalltopspace"></div>

  <h3>Savings Calculator</h3>

  <div class="deadspace"></div>

  <!-- Pricing Table -->
  <h3>Pricing Table</h3>
  <div class="text-center">
      <div class="container">
          <div class="row pt-4 justify-content-center">
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                      <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Free</h4>
                      </div>
                      <div class="card-body">
                          <h1><b>$0 </b><small class="text-muted">/ yr</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                              <li><strong>5</strong> tools</li>
                              <li><strong>1</strong> neighborhood</li>
                              <li>No tech support</li>
                          </ul> <button type="button" class="btn btn-block btn-outline-info">Sign up for free</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="container_row-landing">
                      <div class="layer1-landing">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Homeowner</h4>
                        </div>
                        <div class="card-body">
                            <div class="discount"> Reg <span>$10 / yr</span></div>
                            <h1 style="color: green"><b>$0 </b><small class="text-muted">/ yr</small><span class="redstar" style="font-size: smaller;">*</span></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                              <li><strong>30</strong> tools</li>
                              <li><strong>5</strong> neighborhoods</li>
                              <li>No tech support</li>
                            </ul> <button type="button" class="btn btn-block btn-success">Get Started</button>
                        </div>
                      </div>
                      <div class="layer2-landing">
                        <img src='/static/LandingMedia/BestValue.png' alt="Best Value">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                      <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Handyman</h4>
                      </div>
                      <div class="card-body">
                          <div class="discount"> Reg <span>$45 / yr</span></div>
                          <h1><b>$0 </b><small class="text-muted">/ yr</small><span class="redstar" style="font-size: smaller;">*</span></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>120</strong> tools</li>
                            <li><strong>15</strong> neighborhoods</li>
                            <li>Email tech support</li>
                          </ul> <button type="button" class="btn btn-block btn-primary">Get Started</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                      <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Professional</h4>
                      </div>
                      <div class="card-body">
                          <div class="discount"> Reg <span>$650 / yr</span></div>
                          <h1><b>$0 </b><small class="text-muted">/ yr</small><span class="redstar" style="font-size: smaller;">*</span></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Unlimited</strong> tools and neighborhoods</li>
                            <li>Email tech support</li>
                          </ul> <button type="button" class="btn btn-block btn-primary">Get Started</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                      <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Enterprise</h4>
                      </div>
                      <div class="card-body">
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>Taylored suite</li>
                            <li>Custom branding</li>
                            <li>Dedicated server</li>
                            <li>Full tech support</li>
                          </ul> <button type="button" class="btn btn-block btn-light">Contact us</button>
                      </div>
                  </div>
              </div>
          </div>
          <small>
            <span class="redstar">*</span> All items currently on sale as this app is still under development.
            <br> Join now to be an early tester!
          </small>
      </div>
  </div>

  <div class="deadspace"></div>

  <!-- User Reviews -->
  <h3>User Reviews</h3>
  <div id="carouselIndicators2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators2" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators2" data-slide-to="1"></li>
      <li data-target="#carouselIndicators2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block w-100" style="background: #cc5500; height: 400px">First Review</div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100" style="background: #60ffcc; height: 400px">Second Review</div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100" style="background: #af46ff; height: 400px">Third Review</div>
      </div>
    </div>
    <!-- Side Arrows -->
    <a class="carousel-control-prev" href="#carouselIndicators2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

  <div class="deadspace"></div>

  <h3>Request a Demo</h3>

  <div class="deadspace"></div>

  <h3>About the Creator</h3>
  <p>
    Check out more of Steven Small's work at <a href="https://stevensmall.tk" target="_blank">stevensmall.tk</a>

  <div class="deadspace"></div>



</div>


{% endblock %}
