{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <div class="scrolling_page">
    <h3 class="smalltopspace">Password Recovery</h3>
    <br>
    <p>If there is an account associated with that email, you have received an email with directions to reset your password.</p>

    <br><br>
    <a href="/">
    <button class="btn btn-secondary" id="cancel" type="button" style="width: 150px" data-toggle="modal" data-target="#spinnerModal">Back to Login</button>
    </a>

    <div class="deadspace"></div>
    <div class="deadspace"></div>

    </div>

{% endblock %}
