{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <div class="scrolling_page">
    <h3 class="smalltopspace">Password Reset</h3>
    <br>
    <div>
        <div style="color: red; font-weight: bold;">WARNING</div>
        <i>
          If you click reset after entering a valid email, you will be emailed a link to reset your password. Until you click the
          link and reset your password, your account will be locked.
        </i>
    </div>
    <form action="/passwordreset" method="post">
        <br>
        <p>Enter your email address here:</p>
        <div class="form-group">
            <input autofocus class="form-control" id="email" onkeyup="buttonShowCheck()" name="email" placeholder="you@something.com" type="email">
        </div>
        <button class="btn btn-primary" id="resetPW" type="submit" style="width: 190px" disabled>Reset</button><br><br><br>
        <button class="btn btn-secondary" id="cancel" type="submit"style="width: 190px">Cancel</button>


        <br><input id="hiddenInfoBox" name="returnedAction" value="" style="display: none;"></input>
        <div class="deadspace"></div>
        <div class="deadspace"></div>

    </form>
    </div>

    <script>

        var hiddenInfoBox = document.getElementById("hiddenInfoBox");

        var email = document.getElementById("email");
        var resetPW = document.getElementById("resetPW");
        var cancelBtn = document.getElementById("cancel");

        resetPW.onclick = function(){
            hiddenInfoBox.value = "resetPW";
        };

        cancelBtn.onclick = function(){
            hiddenInfoBox.value = "returnHome";
        };

        function buttonShowCheck() {
            if (email.value != "") {
                resetPW.disabled = false;
            } else {
                resetPW.disabled = true;
            }
        }

    </script>
{% endblock %}
