{% extends "layout.html" %}

{% block title %}
    Create Account
{% endblock %}

{% block main %}
<div class="scrolling_page no-x">
    <div class="smalltopspace"><div>
    <div class="smalltopspace"><div>
    <h3>Tool Share Sign-Up</h3>
    <br>
    <p>Fill in these details to create your account:</p>
    <form action="/register" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3 long-input mx-auto">
              <div class="input-group-prepend">
                <span class="input-group-text">First Name</span>
              </div>
              <input autofocus autocomplete="off" type="text" class="form-control" name="firstname" placeholder="Name">
          </div>
          <div class="input-group mb-3 long-input mx-auto">
              <div class="input-group-prepend">
                <span class="input-group-text">New Username</span>
              </div>
              <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
          </div>
          <div class="input-group mb-3 long-input mx-auto">
              <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
              </div>
              <input autocomplete="off" class="form-control" name="email" placeholder="you@somewhere.com" type="email">
          </div>
          <!--<div class="input-group mb-3 long-input mx-auto">
              <div class="input-group-prepend">
                  <span class="input-group-text">Your Email</span>
                  <input type="email" class="form-control" placeholder="Email" id="demo" name="email">
              </div>
          </div>-->
          <div class="text-muted small" data-toggle="modal" data-target="#myModal">
              <a href="#"><u>Why do I need to provide my email?</u></a>
          </div>
          <br>
        </div>
        <div class="col-md-6">
          <br>
          <p>Create a password:</p>
          <div class="form-group">
              <input class="form-control" name="password" placeholder="Password" type="password">
          </div>
          <div class="form-group">
              <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
          </div>
          <br>
        </div>
      </div>

      <label class="form-check-label" style="margin-bottom: 15px">
        <input type="checkbox" class="form-check-input" value="" id="privatecheck" style="position: relative;" required>
        <span class="redstar"">*</span>
          By checking this box, I agree with the
          <span data-toggle="modal" data-target="#TandC">
              <a href="#"><u>terms and conditions</u></a>
          </span>
      </label>
      <br>

        <button class="btn btn-primary" data-toggle="modal" data-target="#spinnerCogModal" type="submit">Create Account</button>
        <br><br>
        <div class="text-muted">
            Already have an account? Login <a href="/login">here</a>.
        </div>
    </form>
    <div class="deadspace"></div>


      <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Email Usage</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-left">
          <p>
            We only use your email for communication regarding your tools. You will get notified by email when
            someone wants to borrow a tool or when your request to borrow a tool gets approved or rejected.
          </p>
          <p>
            We will never share your email (or any of your data) with a third party outside of ToolShare (only other ToolShare users as required).
          </p>
          <p>
            Your name, username, and email address will be shared with other ToolShare users with whom you either lend or borrow a tool from.
            This is how users can connect and actually share their tools. This also ensures a level of accountability among users.
            Please respect their privact and do not share their email address.
          </p>
          <p>
            Other personal information, such as phone numbers, may be shared with others but you may elect what else is shared with others.
          </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- The Modal: Terms and Conditions -->
<div class="modal fade" id="TandC">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Terms and Conditions</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body text-left">
    <p>
      The terms and conditions for using this service are pretty similar to many other ones.
      To view them in detail, you can read through them all <a href="/TermsAndConditions" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
    <p>
    There are some key items you are agreeing to:
    <ul>
      <li>You are responsible for your own safety and your own property.</li>
      <li>You are liable for damages you cause to other peoples' tools.</li>
    </ul>
    </p>
    <p>
      Please still read through the full T&C, but make special note of these.
    </p>
    <p>
      You can also view our <a href="/PrivacyPolicy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> too.
    </p>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
  </div>

</div>
</div>
</div>

{% endblock %}
