{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}

{% block main %}
<div class="scrolling_page no-x">
    <div class="smalltopspace"></div>
    <div class="smalltopspace"></div>
    <h5>Update your email</h5>
    <p>from {{ oldEmail }} to:</p><br>
    <form action="/updateemail" method="post">
        <div class="form-group">
            <input autofocus autocomplete="off" class="form-control" id="newEmail" onkeyup="buttonShowCheck()" name="newEmail" placeholder="new email" type="email">
        </div>

        <br><br>
        <button class="btn btn-primary" id="emailChange" type="submit" style="width: auto" data-toggle="modal" data-target="#spinnerCogModal" disabled>Change Email Address</button>
        <br><br>
        <button class="btn btn-secondary" id="cancel" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerModal">Cancel</button>

        <br><input id="hiddenInfoBox" name="returnedAction" value=""></input>
    </form>
    <div class="deadspace"></div>
    <div class="deadspace"></div>
</div>

    <script>
        var hiddenInfoBox = document.getElementById("hiddenInfoBox");
        hiddenInfoBox.style.display = 'none';

        var newEmail = document.getElementById("newEmail");
        var emailChange = document.getElementById("emailChange");
        var cancelBtn = document.getElementById("cancel");

        cancelBtn.onclick = function(){
            hiddenInfoBox.value = "returnHome";
        };

        emailChange.onclick = function(){
            hiddenInfoBox.value = "changeEmail";
        };

        function buttonShowCheck() {
            if (newEmail.value != "") {
                emailChange.disabled = false;
            } else {
                emailChange.disabled = true;
            }
        }

    </script>
{% endblock %}
