{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block firstname %}
    {{ firstname }}
{% endblock %}

{% block main %}
<div class="scrolling_page no-x">
    <div class="smalltopspace"></div>
    <div class="smalltopspace"></div>
    <h4>{{ verb }} Password:</h4>
    <form action="/changepassword" method="post">
      {% if verb == 'Change' %}
        <div class="form-group">
            <input autofocus class="form-control {% if session.theme == 'dark' %}dark{% endif %}" id="oPW" onkeyup="buttonShowCheck()" name="oldPassword" placeholder="confirm old password" type="password">
        </div><br>
      {% else %}
        <p>
          Please create a new password for your account.
        </p>
      {% endif %}
        <div class="form-group">
            <input class="form-control {% if session.theme == 'dark' %}dark{% endif %}" id="nPW1" onkeyup="buttonShowCheck()" name="newPassword1" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control {% if session.theme == 'dark' %}dark{% endif %}" id="nPW2" onkeyup="buttonShowCheck()" name="newPassword2" placeholder="Confirm new password" type="password">
        </div>
        <br><br>
        <button class="btn btn-primary" id="pwdChange" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerCogModal" disabled>Change Password</button>
        <br>
        {% if verb == 'Change' %}
        <br>
        <button class="btn btn-secondary" id="cancel" type="submit" style="width: 150px" data-toggle="modal" data-target="#spinnerModal">Cancel</button>
        {% else %}
        <br><input id="hiddenInfoBox2" name="recoverytoken" value="{{ recoverytoken }}" style="display: none;"></input>
        <br><input id="hiddenInfoBox2" name="email" value="{{ email }}" style="display: none;"></input>
        {% endif %}
        <br><input id="hiddenInfoBox" name="returnedAction" value="" style="display: none;"></input>
    </form>
    <div class="deadspace"></div>
    <div class="deadspace"></div>
    </div>

    <script>
        var hiddenInfoBox = document.getElementById("hiddenInfoBox");

        var nPW1 = document.getElementById("nPW1");
        var nPW2 = document.getElementById("nPW2");
        var pwdChange = document.getElementById("pwdChange");
        var cancelBtn = document.getElementById("cancel");

        pwdChange.onclick = function(){
            hiddenInfoBox.value = "changePassword";
        };

        {% if verb == 'Change' %}
        var oPW = document.getElementById("oPW");
        function buttonShowCheck() {
            if ((oPW.value != "") && (nPW1.value != "") && (nPW2.value != "")) {
                pwdChange.disabled = false;
            } else {
                pwdChange.disabled = true;
            }
        }
        cancelBtn.onclick = function(){
            hiddenInfoBox.value = "returnHome";
        };
        {% else %}
        function buttonShowCheck() {
            if ((nPW1.value != "") && (nPW2.value != "")) {
                pwdChange.disabled = false;
            } else {
                pwdChange.disabled = true;
            }
        }
        {% endif %}

    </script>
{% endblock %}
